body {
  margin: 0px;
}
.container {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.plus {
  margin-top: calc(32vh - 6px);
  color: green;
}
.minus {
  color: red;
}
.counter {
  font-size: 50px;
}

.reset {
  font-size: 17px !important;
  margin-top: 30px !important;
  margin-bottom: 1em !important;
}

@media screen and (min-width: 320px) {
  .container {
    margin-top: -24%;
  }
}
@media screen and (min-width: 375px) {
  .container {
    scale: 1.15;
    margin-top: -18%;
}
}
@media screen and (min-width: 375px) {
  .container {
    scale: 1.3;
    margin-top: -18%;
}
}